body {
  background-image: url('images/Header bg.png');
}

.navigator {
  display: flex;
  background-color: white;
  justify-content: flex-end;
  margin-right: 10px;
  padding: 10px;
}

.mylogo {
  display: flex;
  flex-grow: 2;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
}

.hamburger {
  display: flex;
  flex-grow: 1;
}

.container {
  padding: 100px 50px 20px 20px;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100px;
  flex-direction: column;
}

.head {
  flex-grow: 1;
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.pr {
  flex-grow: 1;
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.a {
  flex-grow: 1;
  width: 117px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-container {
  flex-grow: 1;
  padding-top: 20px;
}

.social-media-container i {
  padding: 5px;
}
